<div class="container">
    <div id="right">
        <div class="sidebox">
            <div class="forgot-pass-img"> </div>
        </div>
        
        <input type="email" ng-model="vm.email" name="username" id="userEmail" 
               required autofocus placeholder="foo@bar.com">
        
        <button class="btn btn-block btn-primary btn-sm" ng-click="vm.submit()" type="submit">
            Retrieve your password
        </button>
        
        <span class="hideme" id="passwordhint-validation-message">
            {{vm.email}}
            {{vm.message}}
        </span>
    </div>
</div>